<h2>Markup Language</h2>
<p>Code below</p>
<h3>H2 heading!</h3>
<h2>H1 heading!</h2>
<h4>H3 heading!</h4>
<p>text can be <strong>strong</strong> <u>underlined</u> <em>emphasised</em> <code>monospaced</code><br>
remember to *escape* _these_ /characters with \<br>
 can be done as  if the next charecter is not an escape or \\ otherwise</p>
<p>end lines with \ in order to escape the newline</p>
<p>link with <a href="http://www.google.com">title text</a></p>
<h5>Horizontal lines!</h5>
<hr>
<hr>
<hr>
<hr>
<h3>lists</h3>
<p>unordered:</p>
<ul>
<li>blah</li>
<li>blah</li>
<li>blah</li>
</ul>

<p>alt</p>
<ul>
<li>blah</li>
<li>blah</li>
</ul>

<p>ordered:</p>
<ol>
<li>blah</li>
<li>blah</li>
<li>blah</li>
</ol>

<p>nested:</p>
<ol>
<li>blah</li>
<ul>
<li>blah</li>
<li>blah</li>
</ul>
<li>blah</li>
<ol>
<li>blah</li>
<li>blah</li>
</ol>

</ol>

<p>also</p>
<ol>
<li>blah</li>
<li>blah</li>
<li>blah</li>
</ol>

<table class='table'>
<tr>
<td><p>table</p></td>
<td><p>tables</p></td>
<td><p>table</p></td>
</tr>
<tr>
<td><p>table<br>
table</p></td>
<td><p>tables<br>
tables</p></td>
<td><p>table<br>
table</p></td>
</tr>
<tr>
<td><p>table</p></td>
<td><p>tables</p></td>
<td><p>table</p></td>
</tr>
</table>

<pre>
Markup Language
===============
Output above

H2 heading!
-----------

# H1 heading!
### H3 heading!

text can be *strong* _underlined_ /emphasised/ `monospaced`
remember to \*escape\* \_these\_ \/characters with \\
\ can be done as \ if the next charecter is not an escape or \\\\ otherwise

end lines with \\ \
in order to escape the newline

link with [title text](http://www.google.com)

#### Horizontal lines!

---

- - -

* * *

***

lists
-----
unordered:
* blah
* blah
* blah

alt
- blah
+ blah

ordered:
1. blah
2. blah
3. blah

nested:
1. blah
  - blah
  - blah
2. blah
  1. blah
  2. blah

also
a. blah
b. blah
c. blah

|table|tables|table|
|-----|------|-----|
|table|tables|table|
|table|tables|table|
|-----|------|-----|
|table|tables|table|
</pre>