<% @posts.each do |post| %>
  <div class="post">
    <h1><%= post.title %></h1>
    <hr>
    <%= raw(mrkup post.body) %>
    <p class="small">
      Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.author.username, post.author %>
    </p>
  </div>
<% end %>
