<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Bloggr", root_path, { class: "navbar-brand" } %>
    </div>

    
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <%= render "layouts/nav_link", name: "Home", path: root_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render "layouts/nav_link", name: "Register", path: register_path %>
        <%= render "layouts/nav_link", name: "Sign in", path: "#" %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>